<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cart</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'orders/styling/cart.css' %}">
    <script src="{% static 'orders/scripts/cart.js'%}"></script>

  </head>
  <body>

    <div class="error-area">
        asdasd
    </div>
    <div class="grid-container">
      <div class="grid-item-1">
        <div id="address">
              <form id="address-form" method="post">
                {% csrf_token %}
                {{form.as_p}}
              </form>
        </div>
        <div class="payment">
            <form id="payment-form" method="post">
              {% csrf_token %}
            </form>
        </div>
      </div>
      <div class="grid-item-4"></div>
      <div class="grid-item-2">
            <div id="cartclear">
                {% if cart.stuff.all != None %}
                <a href="{% url 'clear'%}">
                  <img src="{% static 'orders/icons/delete.png' %}" alt="">
                </a>
                {%endif%}
            </div>

            <div id="contents">
            {% for i in cart.stuff.all%}
              {% if i.Base != None %}
                    <p id="menutype"><b>{{i.Base.menucategory}}</b></p>
                    <small><p id="ingredients">{{i}}</p></small>
                    <hr>
              {% else %}
                    <p id="menutype"><b>{{i.Others.all.first.menucategory}}</b></p>
                    <small><p id="ingredients">{{i}}</p></small>
                    <hr>
              {% endif %}
            {% endfor %}
          </div>
          <div id="carttotal"><p><b>total:<span id="amount">{{cart.Total}}$ </span> </b></p></div>
      </div>
      <div class="grid-item-3">
            <div id="buttons">
              <div id="backbutton">
                    <a href="{% url 'index'%}"><button id ="back-button" class="button1" type="button" name="button"> Back </button></a>
              </div>
              {% if cart.stuff.all != None %}
              <div id="checkbutton">
                    <button id ="checkout-button" class="button1" type="submit" form="address-form"> Check </button>
              </div>

              <div id="cancel-button">
                  <button type="button" name="button">Cancel</button>
              </div>
              <div id="payment-button">
                  <button type="button" name="button">
                  <span class="paytext">Pay</span>
                  <div class="spinner"></div>
                  </button>
              </div>
              {%endif%}
            </div>
      </div>
    </div>
<footer>
  Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
</footer>
</body>
<script type="text/javascript">
     var cards = {"visa" : "{% static 'orders/media/visa.png' %}",
              "amex" : "{% static 'orders/media/amex.png' %}",
              "diners" : "{% static 'orders/media/diners.png' %}",
              "discover" : "{% static 'orders/media/discover.png' %}",
              "mastercard" : "{% static 'orders/media/mastercard.png' %}",
              "jcb" : "{% static 'orders/media/jcb.png' %}",
              "unknown" : "{% static 'orders/media/credit.png' %}"}
</script>
</html>
