<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pizza!!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'orders/styling/main.css' %}">
  </head>

  <body>
    <div class="jumbotron" >
      <nav class="top">
            <div class="nav-contents">
                  <a href="#">Pizzas</a>
                  <a href="#Other-items">Menu</a>
                  {% if user.is_authenticated %}
                      <div class="dropdown">
                          <a class='dropdown-content' href="#">Profile</a>
                          <div class="dropdown-items">
                              <a href="{% url 'orders' %}">Orders</a><br>
                              <a href="{% url 'logout'%}">Logout</a><br>
                          </div>
                        </div>
                        <a href="{% url 'cart'%}" class="cartbutton">Cart</a>
                  {% else %}
                        <a href="{% url 'login' %}">Login</a>
                  {% endif %}
                  <a href="#">Attr</a>
            </div>

      </nav>

  <div class="container">
    <h1 class="display-1">Pinnochio</h1>
    <p class="lead">Worlds best selling pizza.</p>
  </div>
</div>
    <!-- Cart Button -->

    <div id='Menu-cards'>
          <!-- Regular Items -->
              <div id ="pizza-items" >
                <p id=float> +Added  </p>
                    <div class="card" id="Pizza-card">
                      <div class="cardhead">
                        <h1>Regular</h1>
                      </div>
                      <div class="cardbody">
                            <form id="regular-form" method="post">
                            <!--<form action="{% url 'add'%}" method="post"> -->
                              {% csrf_token %}
                              <div class="mini-cards">
                                <div class="minicard">
                                  <b>Base</b><br><br>
                                  {% for i in Reg_tops %}
                                    {% if i.foodcategory == 'Base' %}
                                        {% if user.is_authenticated%}
                                            <div class="options">
                                                <label class="menu-input"><input type="radio" id="base-item" class="form-check-input" value ="{{i.id}}" name="base" checked>{{i.name}}</label>
                                                <span class="basespan" id="basespan{{i.id}}" data-base={{i.id}}><label>
                                                  <label class="size-button">
                                                      <input type="checkbox" id="base-size" name="base_size" value="{{i.id}}">
                                                      <span class="size-text">LARGE</span>
                                                      <span class="background"></span>
                                                  </label><br></span>
                                            </div>
                                        {% else %}
                                            <div >
                                                <p>{{i}}</p>
                                            </div>
                                        {%endif%}
                                    {% endif %}
                                  {% endfor %}
                                </div>
                                <div class="minicard">
                                    <b>Toppings</b><br><br>
                                      {% for i in Reg_tops %}
                                        {% if i.foodcategory != 'Base' %}
                                          {% if user.is_authenticated %}
                                              <div class="options">
                                                <label class="menu-input"><input type="checkbox" id="items" class="form-check-input" value ="{{i.id}}" name="items">{{i.name}}</label>
                                                <span class="sizespan" id="sizespan{{i.id}}" data-value={{i.id}}>
                                                  <label class="size-button">
                                                    <input type="checkbox" id="items-size" name="items_size" value="{{i.id}}" >
                                                    <span class="size-text">LARGE</span>
                                                    <span class="background"></span>
                                                  </label><br></span>
                                              </div>
                                          {% else %}
                                              <div>
                                                  <p>{{i}}</p>
                                              </div>
                                          {%endif%}
                                        {% endif %}
                                      {% endfor %}
                                </div>
                                <div class="minicard">
                                    <b>Specials</b><br><br>
                                      {% for i in Reg_spec %}
                                        {% if user.is_authenticated %}
                                        <div class="options">
                                        <label class="menu-input"><input type="checkbox" class="form-check-input" id="special-items" value ="{{i.id}}" name="specials">{{i.name}}</label>
                                        <span class="specialspan" id="specialspan{{i.id}}" data-special={{i.id}}>
                                          <label class="size-button">
                                            <input type="checkbox" name="specials_size" value="{{i.id}}">
                                            <span class="size-text">LARGE</span>
                                            <span class="background"></span>
                                          </label><br></span>

                                        </div>
                                        {% else %}
                                        <div>
                                            <p>{{i}}</p>
                                        </div>
                                        {%endif%}
                                      {% endfor %}
                                </div>
                              </div>
                              </div>
                      <div class="cardfooter">
                              <div class="">
                                {% if user.is_authenticated %}
                                <input type="submit"  id="submit" value="Add">
                                {% endif %}
                              </div>
                              <div class="">
                                <button type="button" class="reg-next">></button>
                              </div>

                      </div>
                      </form>
              </div>
                    <div class="vr">
                          <div class="">
                              <span></span>
                          </div>
                    </div>
                    <!-- Scillian Card -->
                    <div class="card" id="Sicillian-card">
                      <div class="cardhead">
                        <h1>Scillian</h1>
                      </div>
                        <div class="cardbody">
                            <form id="sicillian-form" method="post">
                                {% csrf_token %}
                                <div class="mini-cards">
                                    <div class="minicard">
                                        <b>Base</b><br><br>
                                        {% for i in Sci_tops %}
                                          {% if i.foodcategory == 'Base' %}
                                            {% if user.is_authenticated%}
                                                <div class="options">
                                                <label class="menu-input"><input type="radio" id="sci-base-item" class="form-check-input" value ="{{i.id}}" name="base" checked>{{i.name}}</label>
                                                <span class="sci-basespan" id="sci-basespan{{i.id}}" data-base={{i.id}}>
                                                  <label class="size-button">
                                                    <input type="checkbox" id="base-size" name="base_size" value="{{i.id}}">
                                                    <span class="size-text">LARGE</span>
                                                    <span class="background"></span>
                                                  </label><br></span>

                                                </div>
                                            {% else %}
                                                <div>
                                                    <p>{{i}}</p>
                                                </div>
                                            {%endif%}
                                          {% endif %}
                                        {% endfor %}
                                  </div>
                                  <div class="minicard">
                                        <b>Toppings</b><br><br>
                                        {% for i in Sci_tops %}
                                          {% if i.foodcategory != 'Base' %}
                                              {% if user.is_authenticated %}
                                                  <div class="options">
                                                  <label class="menu-input"><input type="checkbox" id="sci-items" class="form-check-input" value ="{{i.id}}" name="items">{{i.name}}</label>
                                                  <span class="sci-sizespan" id="sci-sizespan{{i.id}}" data-value={{i.id}}>
                                                    <label class="size-button">
                                                      <input type="checkbox" id="items-size" name="items_size" value="{{i.id}}">
                                                      <span class="size-text">LARGE</span>
                                                      <span class="background"></span>
                                                    </label><br></span>
                                                  </div>
                                              {% else %}
                                                  <div>
                                                      <p>{{i}}</p>
                                                  </div>
                                              {%endif%}
                                            {% endif %}
                                        {% endfor %}
                                  </div>
                                  <div class="minicard">
                                        <b>Specials</b><br><br>
                                            {% for i in Sci_spec %}
                                              {% if user.is_authenticated%}
                                                    <div class="options">
                                                    <label class="menu-input"><input type="checkbox" class="form-check-input" id="sci-special-items" value ="{{i.id}}" name="specials">{{i.name}}</label>
                                                    <span class="sci-specialspan" id="sci-specialspan{{i.id}}" data-special={{i.id}}>
                                                      <label class="size-button">
                                                        <input type="checkbox" name="specials_size" value="{{i.id}}">
                                                        <span class="size-text">LARGE</span>
                                                        <span class="background"></span>
                                                      </label><br></span>
                                                  </div>
                                              {% else %}
                                                  <div>
                                                      <p>{{i}}</p>
                                                  </div>
                                              {%endif%}
                                          {% endfor %}
                                  </div>
                                </div>
                        </div>
                        <div class="cardfooter">
                          <div class="">
                            {% if user.is_authenticated %}
                            <input type="submit"  id="submit" value="Add">
                            {% endif %}
                          </div>
                          <div class="">
                            <button type="button" class="sci-next">></button>
                          </div>
                        </div>
                      </form>
                    </div>
              </div>
              <div class="description">
                <div class="">
                    <p>descrip 1</p>
                </div>
                <div class="">
                    <p>descrip 2</p>
                </div>

              </div>

              <!-- Subs -->
              <div  id="Other-items">
                 <p id="second-section"></p>
                    <div class="card" id = "Sub-card" style="width: 18rem;">
                      <div class="card-cover">
                          <img id="img" src="{% static 'orders/media/subs.png' %}" alt="">
                      </div>
                      <div class="cardbody-others">
                        <h5 class="card-title">Subs</h5>
                        <form id="sub-form" method="post">
                          {% csrf_token %}
                            {% for i in Subs%}
                              {% if user.is_authenticated %}
                              <div class="menu">
                              <label class="menu-input"><input type="checkbox" class="form-check-input" id="sub-item" value ="{{i.id}}" name="subs">{{i.name}}</label><br>
                              <span class="subsize" id="subsize{{i.id}}" data-base={{i.id}}>
                                <label class="size-button">
                                  <input type="checkbox" id="sub-size" name="subs_size" value="{{i.id}}">
                                  <span class="size-text">LARGE</span>
                                  <span class="background"></span>
                                </label><br></span>
                              </div>
                              {% else %}
                                  <div>
                                      <p>{{i}}</p>
                                  </div>
                              {%endif%}
                            {%endfor%}
                      </div>
                      <div class="cardfooter-others">
                        {% if user.is_authenticated %}
                            <input type="submit"  id="submit" value="Add">
                        {% endif %}
                        </form>
                      </div>
                      </div>

                      <!-- Pasta -->
                      <div class="card" id = "Pasta-card" style="width: 18rem;">
                        <div class="card-cover">
                            <img id="img" src="{% static 'orders/media/pasta.png' %}" alt="">
                        </div>
                        <div class="cardbody-others">
                          <h5 class="card-title">Pasta</h5>
                          <form id="pasta-form" method="post">
                            {% csrf_token %}
                            {% for i in Pasta%}
                              {% if user.is_authenticated %}
                              <label><input type="checkbox" class="form-check-input" id="pasta-item" value ="{{i.id}}" name="pasta">{{i.name}}</label><br>
                              {% else %}
                                  <div>
                                      <p>{{i}}</p>
                                  </div>
                              {%endif%}
                            {%endfor%}
                        </div>
                        <div class="cardfooter-others">
                          {% if user.is_authenticated %}
                              <input type="submit"  id="submit" value="Add">
                          {% endif %}
                          </form>
                        </div>
                        </div>

                        <!--Salad -->
                        <div class="card" id = "Salad-card" style="width: 18rem;">
                          <div class="card-cover">
                              <img id="img" src="{% static 'orders/media/salad.png' %}" alt="">
                          </div>
                          <div class="cardbody-others">
                            <h5 class="card-title">Salad</h5>
                            <form id="salad-form" method="post">
                              {% csrf_token %}
                              {% for i in Salad%}
                                {% if user.is_authenticated %}
                                <label><input type="checkbox" class="form-check-input" id="salad-item" value ="{{i.id}}" name="salad">{{i.name}}</label><br>
                                {% else %}
                                    <div>
                                        <p>{{i}}</p>
                                    </div>
                                {%endif%}
                              {%endfor%}
                          </div>
                          <div class="cardfooter-others">
                            {% if user.is_authenticated %}
                                <input type="submit"  id="submit" value="Add">
                            {% endif %}
                            </form>
                          </div>
                          </div>
                          <!-- Dinner Plates -->
                          <div class="card" id = "Dinner-card" style="width: 18rem;">
                            <div class="card-cover">
                                <img id="img" src="{% static 'orders/media/dinner.png' %}" alt="">
                            </div>
                            <div class="cardbody-others">
                              <h5 class="card-title">Dinner Plates</h5>
                              <form id="dinner-form" method="post">
                                {% csrf_token %}
                                {% for i in Dinner%}
                                  {% if user.is_authenticated %}
                                  <div class="menu">
                                  <label class="menu-input"><input type="checkbox" class="form-check-input" id="dinner-item" value ="{{i.id}}" name="dinner">{{i.name}}</label><br>
                                  <span class="dinsize" id="dinsize{{i.id}}" data-base={{i.id}}>
                                    <label class="size-button">
                                      <input type="checkbox" id="dinner_size" name="dinner_size" value="{{i.id}}">
                                      <span class="size-text">LARGE</span>
                                      <span class="background"></span>
                                    </label><br></span>

                                  </div>
                                  {% else %}
                                      <div>
                                          <p>{{i}}</p>
                                      </div>
                                  {%endif%}
                                {%endfor%}
                            </div>
                            <div class="cardfooter-others">
                              {% if user.is_authenticated %}
                                  <input type="submit"  id="submit" value="Add">
                              {% endif %}
                              </form>

                            </div>
                            </div>
                        </div>
          </div>
          <div  id="Footer">
            <div class="footer-items">
              <div class="centers">
                <div class="maps">
                    <a href="http://shorturl.at/gjoPU">
                    <img id="footer-image" src="{%static 'orders/media/map_scale.png'%}" alt="">
                    </a>
                </div>
              </div>
              <div class="contact">
                  <p><b>Contact</b></p>
                  <p>phone numbers:617-876-4897 or 617-876-0012</p>
                  <p>fax number:617-661-6188</p>
                  <p>Twitter @PinocchiosPizz</p>
                  <p>Instagram @pinocchiospizza1</p>
                  <p>Our mailing address is:</p>
                  <p>Pinocchio's Pizza</p>
                  <p>74 Winthrop Street</p>
                  <p>Cambridge, MA 02138</p>

                  <p> email: pinocchiospizza1@gmail.com </p>
              </div>
              <div class="hours">
                <b>Hours Open</b>
                <p>Sunday	1pm - 12 midnight</p>
                <p>Monday-Thursday	11am - 1am</p>
                <p>Friday-Saturday	11am - 2:30 am*</p>


              </div>
            </div>
      </div>


  </body>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  {% load static %}
  <script src ="{% static 'orders/scripts/events.js' %}"></script>
  <script src ="{% static 'orders/scripts/animate.js' %}"></script>
  <script src ="{% static 'orders/scripts/serv_comm.js' %}"></script>
  <script type="text/javascript">
    var cart = `{{cart.first}}`;
  </script>

</html>
